header {
    background-color: salmon;
    font-size: 30px;
    display: flex;    
    align-items: center;
    border: 1px solid black;
    height: 150px;
   
}
#welcome {
    
    font-size: 1.5em;
       
}
.headerdivs {
    padding:100px;
}

.middlesection {
    margin: 10px;
    height: 40vh;
    width: 98vw;
    border: 4px  dotted black;
    overflow: scroll;
}
.pic1 {
    height: 250px;
    width: 250px;
    float: left;
}
.about { 
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}
.htmldiv{
    
    display: block;
    float: left;
    border-color: black;
    font-size: 20px;
    padding: 15px;
    
    
}
.pic2 {
    height: 250px;
    width: 250px;
    float: right;
}